<div class="container">
  <div class="row">
        <div class="titulo">
            Hola Dra. Laura <br>
            <div class="subtitulo">
              Fabricando sonrisas saludables
            </div>
        </div>
  </div>
  
  <div class="row mt-5">
        <div class="col-sm-12 col-lg-4 col-md-12 mt-2 card-body-dash" >
          <a routerLink="/cdental/carnets/allcarnets">
          <div class="card-dash row ">
            
            <div class="col-4 card-dash-img" style="background-color: #ff6b6b;">
              <i class="fas fa-users fa-2x" style="color: white;"></i>
            </div>
            <div class="col-8 card-dash-desc">
              <p class="card-dash-num" > {{ StadisticsObject[0].clientes_asistencias_ingresos }} </p>
              <p class="card-dash-sub" > Clientes en {{ getNameMonth }} </p>
            </div>
          </div>
        </a>  
        </div>

        <div class="col-sm-12 col-lg-4 col-md-12 mt-2 card-body-dash" >
          <a routerLink="/cdental/pacientes/home">
          <div class="card-dash row" >
            <div class="col-4 card-dash-img" style="background-color: cornflowerblue;">
              <i class="fas fa-user-check fa-2x" style="color: white;"></i>
            </div>
            <div class="col-8 card-dash-desc">
              <p class="card-dash-num" > {{ StadisticsObject[1].clientes_asistencias_ingresos }} </p>
              <p class="card-dash-sub" >Asistencias de hoy</p>
            </div>
          </div> 
        </a> 
        </div>

        <div class="col-sm-12 col-lg-4 col-md-12 mt-2 card-body-dash" >
          <a >
          <div class="card-dash row" >
            <div class="col-4 card-dash-img" style="background-color: #feca57;">
              <i class="fas fa-dollar-sign fa-2x" style="color: white;"></i>
            </div>
            <div class="col-8 card-dash-desc">
              <p class="card-dash-num" > {{ StadisticsObject[2].clientes_asistencias_ingresos | currency }} </p>
              <p class="card-dash-sub" >Ingresos de  {{ getNameMonth }} </p>
            </div>
          </div>  
        </a>
        </div>

  </div>

  <mat-card class="mt-5">

    <mat-card-title>Agenda del dia</mat-card-title>
    <mat-card-subtitle>Lista de pacientes del dia de hoy</mat-card-subtitle>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
    
      <!-- id_paciente Column -->
      <!-- <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id_paciente}} </td>
      </ng-container> -->
    
      <!-- paciente Column -->
      <ng-container matColumnDef="Paciente">
        <th mat-header-cell *matHeaderCellDef> Paciente </th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.Paciente }}
          <span *ngIf="element.AsistennciaCita==3" class="badge badge-danger">Faltó</span>
          <span *ngIf="element.AsistennciaCita==2" class="badge badge-success">Asisitió</span>
        </td>
      </ng-container>
    
      <!-- servicio Column -->
      <ng-container matColumnDef="Servicio">
        <th mat-header-cell *matHeaderCellDef> Servicio </th>
        <td mat-cell *matCellDef="let element"> {{element.SubServicio}} </td>
      </ng-container>
    
      <!-- horario Column -->
      <ng-container matColumnDef="Hora">
        <th mat-header-cell *matHeaderCellDef> Horario </th>
        <td mat-cell *matCellDef="let element"> {{element.HorarioCita}} </td>
      </ng-container>

      <!-- Costo Column -->
      <ng-container matColumnDef="Costo">
        <th mat-header-cell *matHeaderCellDef> Costo </th>
        <td mat-cell *matCellDef="let element"> {{element.Costo | currency }} MXN </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-paciente" style="cursor: pointer;" (click)="openCarnet(row)" ></tr>
    </table>
  </mat-card>
</div>
