<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#" style="font-weight: 500;">
        <img src="../../../../assets/img/systeethlogo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Clínica Dental Cortés
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-targekst="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="carnets/allcarnets">Carnets</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="pacientes/home">Pacientes </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="servicios/allservices">Servicios</a>
        </li>
        <li class="nav-item ml-2" routerLinkActive="active" >
            <button class="btn btn-danger" (click)="salir()" > Cerrar Sesión </button>
        </li>
      </ul>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>